  @font-face {
    font-family: 'Hagrid';
    src: url('fonts/Hagrid-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Hagrid';
    src: url('fonts/Hagrid-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'NeueMachina';
    src: url('fonts/NeueMachina-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'NeueMachina';
    src: url('fonts/NeueMachina-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
body {
  margin: 0;
  padding: 0;
  font-family: 'Hagrid', 'NeueMachina';
  background-color: #9db7cd;
}

.top-nav {
 display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: -10.2px auto;
    padding: 2.5rem 0 1.25rem; 
    font-size: 1.1rem;
    background: transparent;
    box-sizing: border-box;
}

.back-btn {
  color: #57574f;
  text-decoration: none;
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  font-weight: 300;
  transition: 0.3s;
  font-family: 'Hagrid';
  border: 3px solid #57574f; 
  cursor: pointer;
}

.back-btn:hover {
  background-color: #637991;
  color: #fdf9f5;
}


.divider {
  width: 89.92%;
  height: 0.125rem;
  background-color: #1a1a1a;
  margin: -.5rem 0 4rem 4.8rem;
  margin-bottom: 40px;
  border-radius: 0.0625rem;
}

.preview-container {
  background: #fdf9f5;
  border-radius: 12px;
  padding: 1.5rem;
  width: 90%;
  max-width: fit-content;
  max-height: fit-content;
  margin: 0 auto;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
}

.preview-container img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  border-radius: 10px;
}

.title-section {
  text-align: center;
  margin-top: 0.5rem;
  color: #1f1f1f;
}

.title-section h1 {
  font-size: 4.5rem;
  font-weight: 800;
  letter-spacing: 6px;
  margin: 0;
}

.title-section p {
  font-size: 1.3rem;
  font-weight: 00;
  margin-top: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0.4px;
}

.details-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 6rem 8rem;
  color: #1f1f1f;
  box-sizing: border-box;
}

.details-text {
  flex: 1;
  max-width: 50%;
}

.details-text h1 {
  font-size: 4rem;
  font-weight: 800;
  margin: 0 auto 0 auto;
  color: #1f1f1f;
}

.details-text p {
  font-family: 'Hagrid';
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.7;
  color: #1a2f29;
}

.about-video {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-video video {
  width: 100%;
  max-width: 500px;
  max-height: 700px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background: #fdf9f5;
  border: 2px solid #d7d7d7;
}

.features-section {
  text-align: center;
  margin-top: -1rem;
  color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.features-text h1 {
  font-size: 2.8rem;
  font-weight: 800;
  letter-spacing: 4px;
  margin-bottom: 1rem;
}

.feature-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 950px;
}

.feature-container {
  background: #fdf9f5;
  border-radius: 12px;
  padding: 1.5rem;
  width: 90%;
  max-width: fit-content;
  max-height: fit-content;
  margin: 0 auto;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
}

.feature-container img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
}

.feature-block h2 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #57574f;
  font-family: 'Hagrid';
}





